---
import { I18nProvider } from '../components/I18nProvider.jsx';
import Navbar from '../components/Navbar.jsx';
import Footer from '../components/Footer.jsx';
import '../styles/theme.css';
import '../styles/animation.css';

import { createI18nInstance } from '../i18n.js';

// Determine language from URL path
const currentLang = Astro.url.pathname.startsWith('/fr') ? 'fr' : 'en';
const i18n = createI18nInstance(currentLang);
---

<html lang={currentLang} class="scroll-smooth">
  <head>
    <script is:inline>
      ( function() {
        try {
          const savedTheme = localStorage.getItem('theme');

          if (savedTheme === 'dark' ||
              (!savedTheme && window.matchMedia('(prefers-color-scheme: dark)').matches))
              document.documentElement.classList.add('dark');
          else
              document.documentElement.classList.remove('dark');
        } catch (e) {}
      } )();
    </script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <slot name="head" />
    <link rel="icon" type="image/png" href="/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg" />
    <link rel="shortcut icon" href="/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="iambasim" />
    <link rel="manifest" href="/favicon/site.webmanifest" />
    <title>Basim Ahmed</title>
  </head>
  <body class="bg-background-primary dark:bg-dark-background-primary text-text-primary dark:text-dark-text-primary">
    <I18nProvider lang={currentLang} client:load>
      <Navbar lang={currentLang} client:load />
      <slot />
      <Footer />
    </I18nProvider>
  </body>
</html>
